<!-- News section -->
<ul class="newsfeed">
  <!-- ṇews item -->
  <li>
    <article class="newsfeed__card">
      <p>
        There is now a pool on Pancakeswap (<a
          href="https://exchange.pancakeswap.com/) on #BinanceSmartChain for BEP20 #FIRO! Feel free to add liquidity"
          target="_blank"
          >https://exchange.pancakeswap.com/) on #BinanceSmartChain for BEP20
          #FIRO! Feel free to add liquidity</a
        >! Remember you can convert native $FIRO to BEP20 FIRO &amp; vice versa
        via the bridge:
        <a href="https://www.binance.org/en/bridge" target="_blank"
          >https://www.binance.org/en/bridge</a
        >

        FIRO BSC token address: 0xd5d0322b6bab6a762c79f8c81a0b674778e13aed
      </p>
    </article>
  </li>
  <!-- News item -->
  <li>
    <article class="newsfeed__card">
      <p>
        Spacelens (SPACE) Token Listed on Tokpie 📈 👉 E-commerce platform
        working since 2016 on App Store 🔥
        <a
          href="https://tokpie.io/blog/trade-space-token-spacelens-ecommerce-decentralized/"
          target="_blank"
          >https://tokpie.io/blog/trade-space-token-spacelens-ecommerce-decentralized/</a
        >
        #SPACE #Spacelens #ecommerce #cryptocurrency #platform #NFT
      </p>
    </article>
  </li>
  <!-- Rest of news items -->
</ul>
