<!-- Side list -->
<ul>
  <!-- Side list item -->
  <li><button class="selected">Bitcoin</button></li>
  <!-- Side list item -->
  <li><button class="">Ethereum</button></li>
  <!-- Side list item -->
  <li><button class="">Tether</button></li>
  <!-- Side list item -->
  <li><button class="">Binance Coin</button></li>
  <!-- Side list item -->
  <li><button class="">Cardano</button></li>
  <!-- Side list item -->
  <li><button class="">Dogecoin</button></li>
  <!-- Side list item -->
  <li><button class="">XRP</button></li>
  <!-- Side list item -->
  <li><button class="">USD Coin</button></li>
  <!-- Side list item -->
  <li><button class="">Polkadot</button></li>
  <!-- Side list item -->
  <li><button class="">Uniswap</button></li>
  <!-- Side list item -->
  <li><button class="">Bitcoin Cash</button></li>
  <!-- Side list item -->
  <li><button class="">Litecoin</button></li>
  <!-- Side list item -->
  <li><button class="">Solana</button></li>
  <!-- Side list item -->
  <li><button class="">Chainlink</button></li>
  <!-- Side list item -->
  <li><button class="">Binance USD</button></li>
  <!-- Side list item -->
  <li><button class="">Polygon</button></li>
  <!-- Side list item -->
  <li><button class="">Theta Network</button></li>
  <!-- Side list item -->
  <li><button class="">Internet Computer</button></li>
  <!-- Side list item -->
  <li><button class="">Stellar</button></li>
  <!-- Side list item -->
  <li><button class="">Wrapped Bitcoin</button></li>
  <!-- Side list item -->
  <li><button class="">Ethereum Classic</button></li>
  <!-- Side list item -->
  <li><button class="">VeChain</button></li>
  <!-- Side list item -->
  <li><button class="">Filecoin</button></li>
  <!-- Side list item -->
  <li><button class="">TRON</button></li>
  <!-- Side list item -->
  <li><button class="">Dai</button></li>
  <!-- Side list item -->
  <li><button class="">EOS</button></li>
  <!-- Side list item -->
  <li><button class="">Monero</button></li>
  <!-- Side list item -->
  <li><button class="">Aave</button></li>
  <!-- Side list item -->
  <li><button class="">cDAI</button></li>
  <!-- Side list item -->
  <li><button class="">OKB</button></li>
  <!-- Side list item -->
  <li><button class="">Kusama</button></li>
  <!-- Side list item -->
  <li><button class="">NEO</button></li>
  <!-- Side list item -->
  <li><button class="">Shiba Inu</button></li>
  <!-- Side list item -->
  <li><button class="">Algorand</button></li>
  <!-- Side list item -->
  <li><button class="">Bitcoin SV</button></li>
  <!-- Side list item -->
  <li><button class="">cUSDC</button></li>
  <!-- Side list item -->
  <li><button class="">Amp</button></li>
  <!-- Side list item -->
  <li><button class="">IOTA</button></li>
  <!-- Side list item -->
  <li><button class="">PancakeSwap</button></li>
  <!-- Side list item -->
  <li><button class="">Crypto.com Coin</button></li>
  <!-- Side list item -->
  <li><button class="">Cosmos</button></li>
  <!-- Side list item -->
  <li><button class="">cETH</button></li>
  <!-- Side list item -->
  <li><button class="">FTX Token</button></li>
  <!-- Side list item -->
  <li><button class="">Celsius Network</button></li>
  <!-- Side list item -->
  <li><button class="">Maker</button></li>
  <!-- Side list item -->
  <li><button class="">Theta Fuel</button></li>
  <!-- Side list item -->
  <li><button class="">Tezos</button></li>
  <!-- Side list item -->
  <li><button class="">LEO Token</button></li>
  <!-- Side list item -->
  <li><button class="">Klaytn</button></li>
  <!-- Side list item -->
  <li><button class="">Avalanche</button></li>
  <!-- Side list item -->
  <li><button class="">Terra</button></li>
  <!-- Side list item -->
  <li><button class="">Huobi Token</button></li>
  <!-- Side list item -->
  <li><button class="">BitTorrent</button></li>
  <!-- Side list item -->
  <li><button class="">SafeMoon</button></li>
  <!-- Side list item -->
  <li><button class="">THORChain</button></li>
  <!-- Side list item -->
  <li><button class="">TerraUSD</button></li>
  <!-- Side list item -->
  <li><button class="">Telcoin</button></li>
  <!-- Side list item -->
  <li><button class="">Decred</button></li>
  <!-- Side list item -->
  <li><button class="">Dash</button></li>
  <!-- Side list item -->
  <li><button class="">Compound</button></li>
  <!-- Side list item -->
  <li><button class="">Hedera Hashgraph</button></li>
  <!-- Side list item -->
  <li><button class="">Sushi</button></li>
  <!-- Side list item -->
  <li><button class="">Waves</button></li>
  <!-- Side list item -->
  <li><button class="">Elrond</button></li>
  <!-- Side list item -->
  <li><button class="">Chiliz</button></li>
  <!-- Side list item -->
  <li><button class="">Huobi BTC</button></li>
  <!-- Side list item -->
  <li><button class="">NEM</button></li>
  <!-- Side list item -->
  <li><button class="">Zcash</button></li>
  <!-- Side list item -->
  <li><button class="">Holo</button></li>
  <!-- Side list item -->
  <li><button class="">TrueUSD</button></li>
  <!-- Side list item -->
  <li><button class="">yearn.finance</button></li>
  <!-- Side list item -->
  <li><button class="">Synthetix Network Token</button></li>
  <!-- Side list item -->
  <li><button class="">Zilliqa</button></li>
  <!-- Side list item -->
  <li><button class="">Enjin Coin</button></li>
  <!-- Side list item -->
  <li><button class="">Near</button></li>
  <!-- Side list item -->
  <li><button class="">Lido Staked Ether</button></li>
  <!-- Side list item -->
  <li><button class="">Helium</button></li>
  <!-- Side list item -->
  <li><button class="">NEXO</button></li>
  <!-- Side list item -->
  <li><button class="">Bitcoin Gold</button></li>
  <!-- Side list item -->
  <li><button class="">Paxos Standard</button></li>
  <!-- Side list item -->
  <li><button class="">Basic Attention Token</button></li>
  <!-- Side list item -->
  <li><button class="">Qtum</button></li>
  <!-- Side list item -->
  <li><button class="">Horizen</button></li>
  <!-- Side list item -->
  <li><button class="">Decentraland</button></li>
  <!-- Side list item -->
  <li><button class="">Stacks</button></li>
  <!-- Side list item -->
  <li><button class="">Mdex</button></li>
  <!-- Side list item -->
  <li><button class="">Nano</button></li>
  <!-- Side list item -->
  <li><button class="">The Graph</button></li>
  <!-- Side list item -->
  <li><button class="">Harmony</button></li>
  <!-- Side list item -->
  <li><button class="">Bancor Network Token</button></li>
  <!-- Side list item -->
  <li><button class="">DigiByte</button></li>
  <!-- Side list item -->
  <li><button class="">Ontology</button></li>
  <!-- Side list item -->
  <li><button class="">Liquity USD</button></li>
  <!-- Side list item -->
  <li><button class="">Pirate Chain</button></li>
  <!-- Side list item -->
  <li><button class="">Siacoin</button></li>
  <!-- Side list item -->
  <li><button class="">Quant</button></li>
  <!-- Side list item -->
  <li><button class="">0x</button></li>
  <!-- Side list item -->
  <li><button class="">Curve DAO Token</button></li>
  <!-- Side list item -->
  <li><button class="">HUSD</button></li>
  <!-- Side list item -->
  <li><button class="">WazirX</button></li>
</ul>
